* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

p {
  line-height: 140%;
}

section {
  min-height: 600px;
  padding: 80px 15px;
  align-self: center;
}

.App {
  display: flex;
  min-height: 100vh;
  justify-content: space-between;
  flex-direction: column;
}

input {
  padding: 20px;
  border-radius: 5px;
  border: none;
  background-color: rgb(244, 244, 238);
}

input[type="submit"] {
  background-color: blueviolet;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
}

.error-msg {
  color: red;
  font-size: 12px;
  margin-top: 3px;
}

.succes-msg {
  color: green;
  font-size: 12px;
  margin-top: 3px;
}

.input-error {
  border: 1px solid red;
}

[disabled] {
  /* Ваши стили здесь */
  color: gray;
  background-color: lightgray;
  cursor: not-allowed;
}

@media (max-width: 560px) {
  section {
    padding: 80px 15px;
  }
}